@tailwind base;
@tailwind components;
@tailwind utilities;

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/open-sans/open-sans-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans/open-sans-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans/open-sans-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans/open-sans-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans/open-sans-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans/open-sans-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-500 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/open-sans/open-sans-medium.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans/open-sans-medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans/open-sans-medium.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans/open-sans-medium.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans/open-sans-medium.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans/open-sans-medium.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/open-sans/open-sansbold.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans/open-sansbold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans/open-sansbold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans/open-sansbold.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans/open-sansbold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans/open-sansbold.svg#OpenSans") format("svg"); /* Legacy iOS */
}

@layer base {
  html {
    @apply font-body;
  }
}
